
body {
    font-family: 'Georgia', serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
}

header {
    position: relative;
}

.header-image img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.intro {
    flex: 1;
    text-align: left;
    margin: 0;
    min-width: 300px;
}

.intro h1 {
    text-align: left;
}

.image {
    flex: 1;
    max-width: 300px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text {
    flex: 1;
    text-align: left;
    margin: 0;
    min-width: 300px;
}

.content-links {
    justify-content: space-around;
}

.link-item {
    text-align: center;
    max-width: 200px;
}

.link-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.link-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}


footer {
    background-color: #B49513;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .text {
        text-align: center;
        min-width: 100%;
    }

    .image {
        max-width: 100%;
    }

    .link-item {
        max-width: 100%;
    }

    .link-item img {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .text {
        text-align: center;
        min-width: 100%;
    }

    .image {
        max-width: 100%;
    }

    .link-item {
        max-width: 100%;
    }

    .link-item img {
        max-width: 100%;
    }
}