@font-face {
    font-family: 'Blippo';
    src: url('fonts/Blippo.ttf') format('truetype');
}
body {
    font-family: 'Blippo', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    position: relative;
}

.header-image img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rank-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rank-item img {
    width: 150px;
    height: 150px;
}

.rank-item p {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

.rank-item a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rank-item a:hover {
    color: #ff0;
}

footer {
    background-color: #B49513;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .rank-item p {
        font-size: 1.25rem;
    }

    .rank-item img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .rank-item {
        flex-direction: column;
        align-items: center;
    }

    .rank-item p {
        font-size: 1rem;
        text-align: center;
    }

    .rank-item img {
        width: 30px;
        height: 30px;
    }
}